.head {
    padding-top: 50px;
    background-color: silver;
    padding-left: 20px;
    padding-bottom: 15px;
}
.image {
    width: 100px;
    height: 100px;
}
.nav { 
    padding-top: 10px;
    padding-left: 15px;
    border-right: 5px solid silver;
}
.content { 
    padding-left: 10px;
}